.video {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  max-width: 1400px;
  min-width: 320px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video.list {
  display: grid;
  grid-template-columns: repeat(2, 320px);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding-left: 10px;
}
